<a href="#" id="nav-button">
  <span>
    NAV
      <img src="/assets/images/navbar.svg" class="nav" alt="nav">

  </span>
</a>
<div class="toc-wrapper" id="toc-wrapper">
  <img src="/assets/images/logo.svg" class="logo" alt="logo">
  {% include toc.html html=content class=toc-list-h1 id=toc %}

  <!--ul id="toc" class="toc-list-h1">
    <% toc_data(page_content).each do |h1| %>
    <li>
      <a href="#<%= h1[:id] %>" class="toc-h1 toc-link" data-title="<%= h1[:title] %>"><%= h1[:content] %></a>
      <% if h1[:children].length > 0 %>
      <ul class="toc-list-h2">
        <% h1[:children].each do |h2| %>
        <li>
          <a href="#<%= h2[:id] %>" class="toc-h2 toc-link" data-title="<%= h2[:title] %>"><%= h2[:content] %></a>
        </li>
        <% end %>
      </ul>
      <% end %>
    </li>
    <% end %>
  </ul-->
  <% if current_page.data.toc_footers %>
  <ul class="toc-footer">
    <% current_page.data.toc_footers.each do |footer| %>
    <li><%= footer %></li>
    <% end %>
  </ul>
  <% end %>
</div>