<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{page.title}}</title>

    <link rel="stylesheet" href="/assets/css/highlights.css">
    <link rel="stylesheet" href="/assets/css/screen.css">
    <link rel="stylesheet" href="/assets/css/custom.css">

    <link rel="stylesheet" href="/assets/js/all.js">
  </head>

  # (add toc here)
  <div class="page-wrapper">
      <div class="dark-box"></div>
        <div class="content">
          {{ content }}
        </div>
        # (add darkbox here)
      </div>
  </body>
</html>
